<header class="header">
    <div class="logo-container">
        <img src="assets/mechanic-logo-vintage-vector-design-Graphics-13303646-1.jpg" class="logo">
        <span class="logo-text">The Mechanic</span>
    </div>
    <nav class="nav-buttons">
        <button (click)="goToHome()">Home</button>
        <button (click)="goToServices()">Services</button>
        <button (click)="goToServices_admin()">Services-admin</button>

        <button (click)="goToContact()">Contact</button>
        <button (click)="goToReview()">Review</button>
    </nav>
    <div class="button-container">
        <button (click)="goToLogin()">Login</button>
        <button (click)="goToSignup()">Signup</button>
    </div>
</header>

<div class="container">
    <!-- <h1>Welcome to The Mechanic</h1> -->
    <h2 class="slogan">Keep Your Car in Top Shape</h2>
    <p class="description">
        At The Mechanic, we offer a wide range of car care services to keep your vehicle running smoothly.
        Book an appointment today and experience top-notch service from our expert mechanics.
    </p>
    <img src="assets\image-20191116220103-1.jpeg" class="center-image">
</div>
