<header class="header">
    <div class="logo-container">
        <img src="assets/mechanic-logo-vintage-vector-design-Graphics-13303646-1.jpg" class="logo">
        <span class="logo-text">The Mechanic</span>
    </div>
    <nav class="nav-buttons">
        <button (click)="goToHome()">Home</button>
        <button (click)="goToServices()">Services</button>
        <button (click)="goToServices_admin()">Services-admin</button>
        <button (click)="goToAppointments()">appointment</button>
        <button (click)="goToBokings()">Bookings</button>
        <button (click)="goToBookingsHistory()">Bookings History</button>

        <button (click)="goToContact()">Contact</button>
        <button (click)="goToReview()">Review</button>
    </nav>
    <div class="button-container">
        <button (click)="goToLogin()">Login</button>
        <button (click)="goToSignup()">Signup</button>
    </div>
</header>
